.table-toolbar{position: relative;margin-bottom: 15px}
.table-toolbar-search{position:relative;/* box-shadow: 0 1px 5px 0 #e5e5e5;-webkit-box-shadow: 0 1px 5px 0 #e5e5e5;-moz-box-shadow: 0 1px 5px 0 #e5e5e5; */
padding:0px 60px 0px 10px;height: 30px;overflow-y:hidden;}
.table-toolbar-search .form-control-feedback{margin-top: -2px;margin-right: -4px}
.table-toolbar-search .has-feedback .form-control{padding-right: 25px}
.table-toolbar-search span.form-label{margin-right: 10px;margin-top:5px;}
.table-toolbar-search .form-group{margin-right: 10px}
.table-toolbar-search .form-control{width: 165px;height: 30px;padding: 3px 6px;}
.table-toolbar-btn-group{position: absolute;bottom: 0px;left: 0px}
.search-btn{position: absolute;right: 10px;top: 4px;font-size: 18px;}
.search-btn a{cursor: pointer;text-decoration: none;}
.search-btn i{font-size: 23px}
.arrow-btn{margin-left: 10px}
.arrow-up{display: none;}