.control-label{
	min-width: 120px;
	font-weight:normal;
	font-size: 14px;
}
.hrtitle{
	font-size: 18px;
}
hr{
	margin-top: 10px;
	height: 3px;
}
.form-group{
	height:40px; 
	margin-bottom: 26px;
}
input[type="text"]{
	background: #f8f9fa;
	height: 40px;
}
input{
	border: #d4dee5;
}
.form-control{
	background: #f6f9fb;
	height: 40px;
	border: #d4dee5 1px solid;
	box-shadow:none !important;
	border-radius: 2px !important;
}

.modal-header{
	background: #3671cf;
}